/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
      margin-bottom: 0;
      border-radius: 0;
}
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}
    
    /* Set gray background color and 100% height */
.sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
}
    
    /* Set black background color, white text and some padding */
html, body {
    margin: 0;
    height: 100%;
}

footer {
      background-color: #555;
      color: white;
      padding: 0px;
      position: relative;
      margin-top: -200px;
}
    
    /* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
        height: 100%;
        padding: 0px;
  }
  .row.content {height:100%;} 
}